.center { /* so many slides are centered, let's make it a class */
  text-align: center;
}
.item {
  font-size: 40px;
  line-height: 56px;
  margin: 0px 10%;
  border: 1px dotted #eee;
  position: relative;
  min-height: 400px;
}
.item li {
  font-size: 40px;
  line-height: 56px;
}
.carousel-control {
  top: 200px; /* containing el's height not constant, so default % wobbles */
}
.note {
  color: #bbb; background-color: #fff; border: 1px dotted #bbb;
  font-size: 12px; line-height: 14px;
  position: absolute;
  left: 98%; margin-right: -10%;
  top: 150px;
}
.note:hover {
  background-color: #bbb; color: #222;
}
