#glcanvas {
    z-index: -1;
    width: 100%;
}
#walkaudholder {
    width: 100%;
    text-align: center;
}
#checklist {
    z-index: -1;
    width: 100%;
    text-align: center;
}
#checklist > button {
    background-color: #ffaadd;
    width: 100%;
    margin-bottom: 0.25em;
}
#checklist > button.signaled {
    background-color: #ddaaff;
    font-variant: small-caps;
}
button.near {
    background-color: #aaffdd;
    font-variant: small-caps;
}
#deets {
    display: none; /* shown when user visits a site */
    background-color: white;
    color: black;
    z-index: 1;
    position: absolute;
    top: 10%;
    left: 10%; width: 80%;
    border: 1px dotted gray;
    padding: 1em;
}
#deets h1 {
    text-align: center;
}
#deetsaudholder {
    width: 100%;
    text-align: center;
}
#deetssplash {
    width: 100%;
}
.prox {
    font-family: monospace;
}